@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

header {
    height: 450px;
    background: #ccc;
    font-family: 'Quicksand', sans-serif;
    background: url('../img/hd-bg.jpg');
    background-size: cover;
    background-position: center center;

    .logo {
        @include size(50px);
        float: left;
        margin: 10px 0 0 30px;

        background: #999;
    }

    nav {
        float: right;
        margin: 30px 30px 0 0;

        a {
            @extend .small-bold;
        	display: inline-block;
            margin-left: 20px;
            color: rgba(0, 0, 0, 0.7);
            text-transform: uppercase;
		}

		a:hover {
            color: rgba(0, 0, 0, 1);
		}
    }

    h1 {
    	font: {
    		size: 72px;
    		weight: 700;
    	}
    	color: white;
    	text-transform: uppercase;
    	letter-spacing: 0.05em;
        text-align: center;
        margin-bottom: 20px;
        clear: both;
        padding-top: 100px;

    	span {
            display: inline-block;
    		border: 13px solid white;
    		padding: 0.2em 0.5em;
    	}
    }

    .kicker {
        @extend .small-bold;
        text-align: center;
        color: white;
        line-height: 1;
    }
}